@model OfferViewModel
@{
    Layout = null;
}
<div class="d-flex" style="justify-content: space-between;">
    <div class="span4">
        <img src="@Jobs.ImageRoute@Model.Company.Id/@Model.CompanySettingsViewModel.Logo" class="mb-4">
        <address>
            <strong>@Model.Company.Name</strong><br>
            <p class="mt-4">
                @Model.CompanySettingsViewModel.Address
            </p>
        </address>
    </div>
    <div class="span4 well">
        <div class="fatura-baslik">
            ÖNİZLEME
        </div>
        <div class="fatura-no mt-4">
            <strong>Teklif No:</strong><span id="orderNumber">@Model.OrderNumber</span>
        </div>
        <div class="tarih mt-4">
            <strong>Teklif Tarih:</strong>@DateTime.Now.ToShortDateString()
        </div>
    </div>
</div>

<hr class="my-4">

<div class="musteri-bilgi">
    <h5 class="musterifir">
        @Model.Customer.Name
    </h5>
    <Strong>Sayın</Strong>
    <p>@Model.CustomerContact.Name</p>
    <p class="adres">
        @Model.Customer.OpenAddress
    </p>
    <div class="v-daire">
        <strong>Vergi Dairesi</strong><br>
        @Model.Customer.TaxOffice
    </div>
</div>
<div class="row">
    <div class="span8">
        <hr>
    </div>
</div>

<div class="row">
    <div class="span8 well invoice-body">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Ürün Adı</th>
                    <th>Ürün Kodu</th>
                    <th>Ürün Adeti</th>
                    <th>KDV</th>
                    <th>Ürün Fiyatı</th>
                    <th>İskonto</th>
                    <th>İskontolu Fiyatı</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.ProductsViewModel)
                {
                    <tr>
                        @{
                            var id = product.Id;
                            var productDiscount = product.Discount;
                            var productSellPrice = product.SellPrice;
                            var discountPrice = product.Amount * productSellPrice * ((100 - productDiscount) / 100);
                        }
                        <td style="font-weight: bold;">@product.Name</td>
                        <td>@product.Code</td>
                        <td id="amount-@id">@product.Amount</td>
                        <td id="kdv-@id">@product.KDV</td>
                        <td id="sellPrice-@id">@productSellPrice</td>
                        <td id="discount-@id">@productDiscount</td>
                        <td id="discountPrice-@id">@discountPrice</td>
                    </tr>
                }

                <tr>
                    <td colspan="5">&nbsp;</td>
                    <td><strong>Toplam Fiyat</strong></td>
                    <td id="totalPrice"><strong></strong></td>
                </tr>
                <tr>
                    <td colspan="5">&nbsp;</td>
                    <td><strong>İskontolu Fiyat</strong></td>
                    <td id="totalDiscount"><strong></strong></td>
                </tr>
                <tr>
                    <td colspan="5">&nbsp;</td>
                    <td><strong>Toplam KDV</strong></td>
                    <td id="totalKdv"><strong></strong></td>
                </tr>
                <tr>
                    <td colspan="5">&nbsp;</td>
                    <td><strong>Genel Toplam</strong></td>
                    <td id="total"><strong></strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="fatura-not">
    @Model.Customer.Note
</div>

<script>
    var mdl = @Html.Raw(Json.Serialize(Model.ProductsViewModel));
    let totalPrice = 0;
    let totalDiscount = 0;
    let totalKdv = 0;

    for (let i = 0; i < mdl.length; i++) {
        let productId = mdl[i].id;

        let kdvText = $('#kdv-' + productId).text();
        let replace_kdv = kdvText.replace(',', '.');
        let kdv = parseFloat(replace_kdv);

        let sellPriceText = $('#sellPrice-' + productId).text();
        let replace_sellPrice = sellPriceText.replace(',', '.');
        let sellPrice = parseFloat(replace_sellPrice);

        let discountText = $('#discount-' + productId).text();
        let replace_discount = discountText.replace(',', '.');
        let discount = parseFloat(replace_discount);

        let amountText = $('#amount-' + productId).text();
        let amount = parseFloat(amountText);

        let discountPriceText = $('#discountPrice-' + productId).text();
        let replace_discountPriceText = discountPriceText.replace(',', '.');
        let discountPrice = parseFloat(replace_discountPriceText);

        totalPrice = totalPrice + (sellPrice * amount);
        totalDiscount += discountPrice;
        totalKdv = (amount * sellPrice * (kdv / 100)) + totalKdv;
        total = totalDiscount + totalKdv;
    }

    $('#totalPrice').text(totalPrice.toFixed(2));
    $('#totalDiscount').text(totalDiscount.toFixed(2));
    $('#totalKdv').text(totalKdv.toFixed(2));
    $('#total').text(total.toFixed(2));

</script>
