@{
    Layout = null;
}
@model List<ProductViewModel>

@foreach (var product in Model)
{
    
    <tr>
        @{
            string className = "seletedItem" + product.Id;
        }
        <td class="text-center @className">@product.CategoryName</td>
        <td class="text-center @className">@product.Name</td>
        <td class="text-center">@product.Code</td>
        <td class="text-center">@product.SellPrice₺</td>
        <td class="text-center">
            @foreach (var image in product.Images.Take(1))
            {
                <img src="@Jobs.ImageRoute@product.CompanyId/@image" width="40%">
            }
        </td>
        <td class="text-center">@product.Stock</td>
        <td class="text-center @className">@product.Discount</td>
        @*         <td class="text-center">
    <input type="text" class="form-control @className" id="inputIskonto" placeholder="%" value="@product.Discount" name="Discount" readonly>
    </td> *@
        <td class="text-center">
            <div class="form-check form-switch">
                <input id="@className" onchange="isSelected(@product.Id)" type="checkbox" name="IsSeleted">
                <input type="hidden" class="temp" value="@product.Id">
                <input type="hidden" name="CategoryId" value="@product.CategoryId">
            </div>
        </td>
    </tr>
}