@model HomeViewModel
@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Başarılı!</strong> @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>HATA!</strong> @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="dashboard container">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">

            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="kutucuk" style="background-color: #26A69A;">
                        <div class="kutucuk-sayi">
                            @Model.Offers.Count()
                            <p>Gönderilmiş Teklif</p>
                        </div>
                        <div class="kutucuk-tarih">
                            @DateTime.Now.ToShortDateString()
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12">
                    <div class="kutucuk" style="background-color: #EC407A;">
                        <div class="kutucuk-sayi">
                            @Model.CustomerList.Count()
                            <p>Müşteri</p>
                        </div>
                        <div class="kutucuk-tarih">
                            @DateTime.Now.ToShortDateString()
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12">
                    <div class="kutucuk" style="background-color: #FFA726;">
                        <div class="kutucuk-sayi">
                            14
                            <p>Gönderilmiş Teklif</p>
                        </div>
                        <div class="kutucuk-tarih">
                            @DateTime.Now.ToShortDateString()
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12">
                    <div class="kutucuk" style="background-color: #9CCC65;">
                        <div class="kutucuk-sayi">
                            14
                            <p>Gönderilmiş Teklif</p>
                        </div>
                        <div class="kutucuk-tarih">
                            @DateTime.Now.ToShortDateString()
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-8 col-md-8 col-12 mt-4">
            <div class="dash-bilgiler">
                <div class="dash-bilgi-title">
                    Teklif Gönderdiğiniz Son 10 Firma
                </div>
                <table class="table-fill">
                    <thead>
                        <tr>
                            <th class="text-left">Göderilen Firma</th>
                            <th class="text-left">Yetkili</th>
                            <th class="text-left">Gönderici</th>
                            <th class="text-left">Gönderme Saati</th>
                            <th class="text-left">İskonto</th>
                            <th class="text-left">Görüntüle</th>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                        @foreach (var offer in Model.Offers.OrderByDescending(o => o.DateOfOffer).Take(10))
                        {
                            <tr>
                                <td class="text-left">@offer.Customer.Name</td>
                                <td class="text-left">@offer.CustomerContact.Name</td>
                                <td class="text-left">@offer.User.FirstName</td>
                                <td class="text-left">@offer.DateOfOffer</td>
                                <td class="text-left">@offer.Customer.Discount</td>
                                <td class="text-left">
                                    <a href="@Jobs.PdfRoute@offer.CompanyId/@offer.Pdf" target="_blank">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 mt-4">
            <div class="dash-bilgiler">
                <div class="dash-bilgi-title">
                    Son Giriş Bilgileri
                </div>
                <table class="table-fill">
                    <thead>
                        <tr>
                            <th class="text-left">Kullanıcı E-Mail</th>
                            <th class="text-left">Giriş Saati</th>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                        @foreach (var log in Model.Logs.OrderByDescending(l => l.DateOfLogin).Take(5))
                        {
                            <tr>
                                <td class="text-left">@log.UserEmail</td>
                                <td class="text-left">@log.DateOfLogin</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>