@model ProductViewModel

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Başarılı!</strong> @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>HATA!</strong> @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container musteri">
    <form asp-controller="Product" asp-action="UpdateProduct" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <div class="form-row row">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Ürünün Kategorisini Seç</label>
                <select class="form-control" id="exampleFormControlSelect1" asp-for="CategoryId" required>
                    <option>Kategori Seçiniz</option>
                    @foreach (var category in (List<Category>)ViewBag.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-12">
                <label for="inputName">Ürün Adı</label>
                <input type="text" class="form-control" asp-for="Name" value="@Model.Name" placeholder="Ad" required>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-12">
                <label for="inputPTel">Ürün Kodu</label>
                <input type="text" class="form-control" asp-for="Code" value="@Model.Code" placeholder="Kod" required>
            </div>
        </div>
        <div class="form-row row">
            <div class="form-group col-lg-6 col-md-6 col-12">
                <label for="inputName">Ürün Alış Fiyatı</label>
                <input type="text" class="form-control" asp-for="BuyPrice" value="@Model.BuyPrice" placeholder="Alış Fiyatı" pattern="[0-9]+(\,[0-9]+)?" title="Lütfen geçerli bir sayı girin (örneğin: 12 veya 12,5)">
            </div>
            <div class="form-group col-lg-6 col-md-6 col-12">
                <label for="inputPTel">Ürün Satış Fiyatı</label>
                <input type="text" class="form-control" asp-for="SellPrice" value="@Model.SellPrice" placeholder="Satış Fiyatı" pattern="[0-9]+(\,[0-9]+)?" title="Lütfen geçerli bir sayı girin (örneğin: 12 veya 12,5)">
            </div>
        </div>
        <div class="form-row row">
            <div class="form-group col-lg-6 col-md-6 col-12">
                <label for="inputName">Ürün Stok</label>
                <input type="number" class="form-control" asp-for="Stock" value="@Model.Stock" placeholder="Stok Adedi">
            </div>
            <div class="form-group col-lg-2 col-md-2 col-12">
                <label for="inputPTel">Ürün listelensin mi?</label>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" asp-for="IsActive">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Ürün Fotoğrafı</label>
            <div>
                @if (Model.ProductImages.Count() > 0)
                {
                    foreach (var image in Model.ProductImages.Take(1))
                    {
                        <img src="@Jobs.ImageRoute@Model.CompanyId/@image.Url" alt="">
                        <div><a class="btn btn-danger mb-4" href="/Product/DeleteProductImage/@image.Id">Resim Sil</a></div>
                    }
                }
            </div>

            <input type="file" class="form-control" name="images" placeholder="Fotoğraf" accept=".png">

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Ürün Açıklaması</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" asp-for="Detail" rows="3">@Model.Detail</textarea>
            </div>

            <button type="submit" class="btn btn-primary">Ürünü Güncelle</button>
    </form>
</div>